#dobozka {
    width: 800px;
    height: 600px;
    background-color: #9a84ff;
    display: block;
    margin: auto;
    align-items: center;
}

#elso {
    width: 400px;
    height: 200px;
    background-color: lightgreen;
    display: block;
    margin: 10px;
}

#masodik {
    width: 400px;
    height: 200px;
    background-color: lightgreen;
    display: block;
    margin: 10px;
}

#gomb1 {
    width: 200px;
    height: 100px;
    background-color: black;
    display: block;
    margin: auto;
    color: white;
    font-size: 30px;
}

#gomb2 {
    width: 200px;
    height: 100px;
    background-color: black;
    display: block;
    margin: auto;
    color: white;
    font-size: 30px;
}

#X {
    position: relative;
    left: 96%;
    width: 32px;
    height: 32px;
    background-color: red;
    border: none;
    color: white;
    font-size: 20px;
}