#dobozka {
    width: 1500px;
    height: 900px;
    background-color: #9a84ff;
    display: none;
    margin: auto;
    align-items: center;
    padding: 0;
    border: none;
}

#elso {
    width: 400px;
    height: 200px;
    background-color: lightgreen;
    display: block;
    margin: auto;
    border: none;
}

#masodik {
    width: 400px;
    height: 200px;
    background-color: lightgreen;
    display: block;
    margin: 15px auto;
    border: none;
}

#gomb1 {
    width: 200px;
    height: 100px;
    background-color: black;
    display: block;
    margin: auto;
    color: white;
    font-size: 30px;
}

#gomb2 {
    width: 200px;
    height: 100px;
    background-color: black;
    display: block;
    margin: auto;
    color: white;
    font-size: 30px;
}

#X {
    position: relative;
    left: 100%;
    width: 50px;
    height: 50px;
    background-color: red;
    border: none;
    color: white;
    font-size: 20px;
}

#settings {
    width: 200px;
    height: 70px;
    font-size: 25px;
}

#settings-doboz {
    background-color: #dcc8c9;
    width: 700px;
    height: 800px;
    margin: auto;
    display: block;
    border: silver;

}

#akkonem {
    display: block;
    margin: auto;
    font-size: 50px;
}

#background {
    margin-top: 50px;
    width: 350px;
    height: 80px;
    font-size: 40px;
}

#colours {
    
}